<!-- Shown on Mobile Only -->
<ul id="mobile-cart" class="mobile-3 span-1 mobile-only">
{% if settings.show_multiple_currencies %}
  <li>
    {% include 'currencies-switcher' %}
  </li>
{% endif %}
  <li>
    <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
      <span class="cart-words">{{ 'cart.general.title' | t }}</span>
      &nbsp;<i class="la la-shopping-cart" aria-hidden="true"></i>
      <span class="CartCount">{{ cart.item_count }}</span>
    </a>
  </li>
</ul>
