<!-- Shown on Mobile Only -->
<ul id="mobile-cart" class="sm-span-3 md-span-2 auto mobile-only">
  <li class="my-cart-link-container">
    <a href="{{ routes.cart_url }}">
      <span class="my-cart-text">{{ 'cart.general.title' | t }}</span><i class="la la-shopping-cart" aria-hidden="true"></i><span class="js-cart-count">{{ cart.item_count }}</span>
    </a>
  </li>
</ul>
