@media screen and ( max-width: 768px ) {
  .caption-inners .slide-title {
    color: #000!important
  }
  .caption-inners .caption {
    color: #000!important
  }
}

@media screen and ( min-width: 769px ) {
  .info-bar-item, .info-bar-item p, .info-bar-item a {
    text-align: right!important;
    padding-right: 3px!important;
  }
}
